doctype html
html(lang="en")
  head
    title Pathfinder Character Sheet
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
  body
    block content
    script(src="/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    block scripts
